<a href="https://colab.research.google.com/github/CheboluGayatri/Python/blob/main/python_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variable**
which stores the values

In [2]:
x=10
print("x value :", x)
print(type(x))

x value : 10
<class 'int'>

**declaration**
python is implicit that declare automaticallly based on input

In [4]:
name="heamanth"
print("names value :",name)
print(type(name))

names value : heamanth
<class 'str'>

**Assign**
assign single value to multiple variables and multiple values at a time

In [6]:
a=b=c=5
print(a,b,c)
d,e,f=6,7,8
print(d,e,f)

5 5 5
6 7 8

**python standard data types**

-> In python we have six types of data types they are
**1.Number**
**2.string**
**3.Tuple**
**4.List**
**5.Set**
**6.Dictionary**

**1.Number data type**  
Number datatype stores numeric values,Numeric objects are mutable,Means when an object is created its value can be changed

In [15]:
a=200
b=400
print(a)
print(b)
#change variable values
a=500
b=900
print(a)
print(b)
#delete variables
del a
#print(a) it show error because a is deleted

200
400
500
900

In [17]:
a=100 #a,b,c are variables and #100,200 are values ,c indicate operatiors like arthematic
b=200
c=a+b
print(c) # operator is collection of operands
#c ->operand
#= ->operator
#a ->operand
#b->operand
c=100, 200 #parameters
#passing a value to an operand is called parameter

300

**Python Numerical data types**
->python support different data types they are 1.Int, 2.Long() only python 2.x version it is availble removed(deprecated) in 3.x version
3.float,4.complex

**1.Int**

In [18]:
x=10
print(x)
print(type(x))

10
<class 'int'>

In [19]:
a=0.345
print(a)
print(type(a))

0.345
<class 'float'>

In [21]:
y=complex(1,2)
print(y)
print(type(y))

(1+2j)
<class 'complex'>

**Python Literals**

**1.Binary Literals**
by adding bin function decimal value convert into binary number it give output as 0b Prefix

In [33]:
x=bin(64)
print(x)
x=0b1000000
print(x)

0b1000000
64

**2.octal Literals**
convert any integer to octal number by adding oct it give outpot as 0o is Prefix

In [28]:
a=oct(8)
print(a)

0o10

In [30]:
a=0o10
print(a)

8

**Hexa-Deciaml Literals**

we use predefined function as hex

In [36]:
x=hex(19)
print(x)
x=0x13
print(x) #divide by 16

0x13
19